@charset "UTF-8";

*{
	padding:0;
	margin:0;
	border-style: none;
	font-family: "Meiryo",sans-serif;
}

.title {
	width: 100%;
	text-align: center;
	color: #38bba4;
	padding: 60px 0 0px 0;
}

.title p {
	color:red;
	font-size: 15px;
	margin:10px;
}

.main_wrapper{
	width:100%;
	margin:20px auto;
}

.main_wrapper p {
	color: #38bba4;
}

input[type="radio"] {
   display: none;
}

.cond_btn{
	margin-top: 10px;
}

label img {
  margin: 3px;
  padding: 5px;
}

input[type="radio"] + label img {
  opacity:0.2;
}

input[type="radio"]:checked + label img {
  opacity:1;
}

.regist_btn{
	color:white;
	margin:  20px 10px;
	width: 100px;
	height: 30px;
	line-height: 30px;
	font-size: 16px;
	border-radius: 5px;
	text-align:  center;
	background-color:#38bba4;
	cursor: pointer; 
}

.bottom_btn_box{
	margin-top: 20px;
}

.bottom_btn{
	display: inline-block;
	cursor: pointer; 
	text-decoration: none;
	text-align: center;
	background-color: #38bba4;
	width: 150px; 
	height: 20px;
	line-height: 20px;
	margin: 0px auto;
	margin-bottom: 10px;
	color: white;
	border-radius: 5px;
	font-size: 13px;
}

.bottom_btn:hover{
	opacity: 0.6;
}
