@charset "UTF-8";

*{
	padding:0;
	margin:0;
	border-style: none;
	font-family: "Meiryo",sans-serif;
}


.title {
	width: 100%;
	text-align: center;
	color: #38bba4;
	padding: 60px 0 0px 0;
}

.main_wrapper{
    margin: auto;
    margin-top: 20px;
}

table{
	font-size: 16px;
	border-collapse: collapse
}


table td {
  text-align: left;
  padding: 5px;
  /* border-bottom: 2px solid #38bba4; */
}

.item_name{
	text-align: right;
	padding-right: 10px;
	color: #38bba4;
}

.text{
	border: solid 1px gray;
	text-align: center;
	margin-right:5px;
}

.add_dept_text{
	border: solid 1px gray;
	text-align: left;
	width: 120px;
	height: 20px;
}

input {
	font-size: 16px;
	width: 30px;
}


.submit{
	display: inline-block;
	cursor: pointer; 
	text-decoration: none;
	text-align: center;
	background-color: #38bba4;
	width: 150px; 
	height: 20px;
	line-height: 20px;
	margin: 20px auto;
	color: white;
	border-radius: 5px;
	font-size: 13px;
	border-style: none;
}

.bottom_btn_box{
	width: 100%;
	margin-top: 5px;
	margin-bottom: 20px;
    margin: auto;
    text-align: center;
}

.submit:hover{
	opacity: 0.6;
}

.bottom_btn{
	display: inline-block;
	cursor: pointer; 
	text-decoration: none;
	text-align: center;
	background-color: #38bba4;
	width: 150px; 
	height: 20px;
	line-height: 20px;
	margin: 5px auto;
	color: white;
	border-radius: 5px;
	font-size: 13px;
}

.bottom_btn:hover{
	opacity: 0.6;
}


/* ポップアップ処理 */
.open {
	cursor:pointer;
}
#pop-up {
	display: none; 
}
.overlay {
	display: none;
}
#pop-up:checked + .overlay {
	display: block;
	z-index: 9999;
	background-color: #00000070;
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
}
.window {
	width: 90vw;
	max-width: 380px;
	height: 240px;
	background-color: #ffffff;
	border-radius: 6px;
	justify-content: center;
	align-items: center;
	text-align: center;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.pop-up_text {
	font-size: 18px;
	margin-top: 80px;
}

.pop-up_btn{
	border-style: none;
	display: inline-block;
	cursor: pointer; 
	text-decoration: none;
	text-align: center;
	background-color: #38bba4;
	width: 70px; 
	height: 30px;
	line-height: 30px;
	margin: 10px auto;
	margin-right: 10px;
	color: white;
	border-radius: 5px;
	font-size: 13px;
}

.delete_btn{
	border-style: none;
	display: inline-block;
	cursor: pointer; 
	text-decoration: none;
	text-align: center;
	background-color: #38bba4;
	width: 135px; 
	height: 20px;
	line-height: 20px;
	margin: 5px auto;
	padding-left: 5px;
	padding-right:10px;
	color: white;
	border-radius: 5px;
	font-size: 13px;
}

.close {
	font-size: 20px;
}