@charset "UTF-8";

*{
	padding:0;
	margin:0;
	/* border-style: none; */
	font-family: "Meiryo",sans-serif;
}

.title {
	width: 100%;
	text-align: center;
	color: #38bba4;
	padding: 60px 0 0px 0;
}

.main_wrapper{
    margin: auto;
    margin-top: 20px;
    width:800px;
}

.select_box{
	margin: 20px auto;
	text-align: center;
}

select{
	cursor: pointer;
	font-size: 16px;
}

.select{
	margin-right: 20px;
}

form{
	display: inline-block;
}

.select_box input {
	cursor: pointer;
	font-size: 13px;
	background-color: #38bba4;
	border-style: none;
	color: white;
	border-radius: 5px;
	width: 40px;
}

table{
	font-size: 16px;
	border-collapse: collapse
}

table th {
  padding: 5px 10px;
  width: 65px;
  border: 2px solid #38bba4;
  background-color: rgba(56,187,164,0.8);
  color: white;
}

table td {
  text-align: center;
  padding: 5px 0 5px 0;
  border: 2px solid #38bba4;
}

table input {
	cursor: pointer;
	font-size: 13px;
	background-color: #38bba4;
	border-style: none;
	color: white;
	border-radius: 5px;
	width: 40px;
}

.bottom_btn_box{
	width: 100%;
    margin: 20px auto;
    margin-bottom: 40px;
    text-align: center;
}

.bottom_btn{
	display: inline-block;
	cursor: pointer; 
	text-decoration: none;
	text-align: center;
	background-color: #38bba4;
	width: 150px; 
	height: 20px;
	line-height: 20px;
	margin: 10px auto;
	color: white;
	border-radius: 5px;
	font-size: 13px;
}

.bottom_btn:hover{
	opacity: 0.6;
}

.btn_hover:hover{
	opacity: 0.6;
}
